.items {
  list-style: none;
  margin-right: 30px;
  font-size: 22px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 5px;
  text-decoration: none;
}

.ul {
  display: flex;
  margin-right: 20px;
}
.navbar-dark {
  background-color: rgb(5, 5, 46);

}
.logo {
  border-radius: 40px;
}
.btn:hover {
  background-color: yellow;
}
.btn {
  background-color: white;
  border-radius: 30px;
  font-weight: 700;
}
.navbar{
  flex-wrap: nowrap;
}
.navbar-button{
  margin-top:0px !important;
  margin-bottom: 0px !important;
}
.header{
 padding-left:100px;
}