.items {
    list-style: none;
    margin-right: 30px;
    font-size: 22px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    cursor: pointer;
    padding: 5px;
    text-decoration: none;
  }
  .items:hover {
    color: rgb(5, 160, 221);
  }
  .navlink{
      display: flex;
  }
  .header{
      background-color: rgb(2, 1, 19);
  }
  .logo{
    border-radius: 40px;
  }