
  .Home-Section{
    background-color: #171C5E;
    color: #fff;
    font-size:1.3em;
  }
  .card:hover{
    transform:scale(1.03);
    border-color: #171C5E;
    border-width: 4px;

  }
  .card-footer{
    background-color: rgb(1, 1, 26);
    color:white;
    font-size:1.1em;
  }
